<IfModule mod_rewrite.c>
                RewriteEngine on

                # Don't rewrite files or directories
                RewriteCond %{REQUEST_FILENAME} -f [OR]
                RewriteCond %{REQUEST_FILENAME} -d
                RewriteRule ^ - [L]

		RewriteCond %{REQUEST_FILENAME}.php -f
		RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

                # Rewrite everything else to index.php to allow html5 state links
                RewriteRule ^ index.php [L]
</IfModule>
